/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */
<link href="fonts/Baskerville.ttc">

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
	color: #555555;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */

h1 a {
	font-family: Baskerville, serif;
	border-bottom: 1px;
	border-color: #CCCCCC;
	border-bottom-style: solid;
	padding: 8px;
	font-size: 80px;
	color: #93AFA6;
	text-decoration: none;
	display: block;
}

h2 {
	font-size: 30px;
	color: #6B817A;
	font-weight: bold;
}

p {
	display: block;
}

div {
	display: block;
}

footer {
	text-align: right;
}

#featured img {
	display: block;
	border: 5px;
	border-color: #93AFA6;
	border-style: solid;
}

#about {
	display: block;
}

#press {
}

#press img {
	border: 5px;
	border-color: #CCCCCC;
	border-style: solid;
	padding: 1px;
}

#press a:hover {
	border: 5px;
	border-color: #6B817A;
	border-style: solid;
	padding: 1px;
}

#about a:link, #about a:visited {
	color: #0082BE;
	text-decoration: none;
}

#about a:hover {
	color: #0082BE;
	text-decoration: underline;
}

/* layout */

.wrapper {
	width: 960px;
	margin: 0 auto;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
	line-height: 0;
}

.small {
	font-size: 0.8em;
}
